<%= simple_form_for(:session, url: { controller: :sessions, action: :create }, :html => { :class => 'form form-login', :id => 'login-form' }) do |f| %>
  <div class="facebook-connect"><%= link_to image_tag('facebook.png'), '/auth/facebook' %></div>
  <%= f.hidden_field :campaign, :value => @campaign ? @campaign.id : nil %>
  <%= f.hidden_field :source, :value => @source || '/' %>
  <%= f.input :username, label: 'Username, e-mail or cell' %>
  <%= f.input :password, input_html: { :id => 'login-password' } %>
  <%= f.submit 'submit', :name => 'form', :value => 'log in', :id => 'btn-login', :class => 'btn primary large primary' %>
<% end %>
