<!DOCTYPE html>
<html>
<head>
  <% if Rails.env.production? %>
    <%= render 'partials/analytics' %>
  <% end %>

  <title>Please log in.</title>
  <%= stylesheet_link_tag    "ds_auth/application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag('ds_auth/application') %>

  <!--[if lt IE 9]>
    <%= javascript_include_tag 'ds_auth/html5' %>
  <![endif]-->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta property="og:title" content="Pics for Pets" />
  <meta property="og:description" content="Over half of the 5 to 7 million pets that enter shelters are put to sleep.  Help save their lives just by hitting 'share'." />
  <meta property="og:image" content="http://pics.dosomething.org/images/logo-pics.png" />
  <%= csrf_meta_tags %>
</head>
<body class="wrapper">


<%= yield %>

</body>
</html>
