<%= simple_form_for(@share_a_stat) do |f| %>
  <% if @share_a_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@share_a_stat.errors.count, "error") %> prohibited this share_a_stat from being saved:</h2>

      <ul>
      <% @share_a_stat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, input_html: { placeholder: 'The title of this Share a Stat' } %>
  <%= f.input :message, label: 'Body text', input_html: { rows: 20, cols: 50, placeholder: 'This text will appear above the Share a Stat form.' } %>
  <%= f.input :tip, as: :text, input_html: { rows: 8, cols: 50, placeholder: 'The tip that will appear on the Share a Stat form.  Likely the same tip that the user will receive.' } %>
  <%= f.input :mc_alpha, as: :string, label: 'MC Alpha Bucket', input_html: { placeholder: 'The Alpha opt-in path that will be sent out' } %>
  <%= f.input :mc_beta, as: :string, label: 'MC Beta Bucket', input_html: { placeholder: 'The beta opt-in path that will be sent to friends' } %>
  <%= f.input :redirect, input_html: { value: (@share_a_stat.redirect ? @share_a_stat.redirect : 'http://www.dosomething.org/') }, placeholder: 'http://www.dosomething.org/' %>
  <%= f.input :redirect_message, input_html: { placeholder: 'This will appear at the top of the page that the user lands on.' } %>
  <%= f.input :color_scheme, as: :select, collection: [['Green', 'green'], ['Red', 'red'], ['Orange', 'orange']], include_blank: 'No color' %>
  <%= f.input :image, as: :file %>
  <%= f.input :published, as: :boolean, label: 'Published?' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
