<%= simple_form_for(@share_a_stat) do |f| %>
  <% if @share_a_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@share_a_stat.errors.count, "error") %> prohibited this share_a_stat from being saved:</h2>

      <ul>
      <% @share_a_stat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :message, input_html: { rows: 20, cols: 50 } %>
  <%= f.input :tip, as: :text, input_html: { rows: 8, cols: 50 } %>
  <%= f.input :mc_alpha, as: :string, label: 'MC Alpha Bucket' %>
  <%= f.input :mc_beta, as: :string, label: 'MC Beta Bucket' %>
  <%= f.input :redirect %>
  <%= f.input :redirect_message %>
  <%= f.input :color_scheme, as: :select, collection: [['Green', 'green'], ['Red', 'red'], ['Orange', 'orange']], include_blank: 'No color' %>
  <%= f.input :image, as: :file %>
  <%= f.input :published, as: :boolean, label: 'Published?' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
