<div id="share-a-stat-container">
  <h3>Share this stat with six friends for a chance to win a</h3>
  <h3>$2000 scholarship</h3>

  <h3 class="tip"><%= @share_a_stat.tip %></h3>

  <%= simple_form_for(@post, html: { multipart: true, class: 'form form-submit right' }) do |f| %>
    <%= f.hidden_field :share_a_stat_id, value: @share_a_stat.id %>
    <div id="your-info">
      <%= f.input :my_name, label: false, input_html: { placeholder: 'Your Name' }, wrapper_html: { class: 'my-name' } %>
      <%= f.input :my_number, label: false, input_html: { placeholder: "Your Cell #" }, wrapper_html: { class: 'my-number' } %>
    </div>
    <div id="friends-info">
      <%= f.input :friend_1, label: false, input_html: { placeholder: "Friend's Cell #" }, wrapper_html: { class: 'friend-number' } %>
      <%= f.input :friend_2, label: false, input_html: { placeholder: "Friend's Cell #" }, wrapper_html: { class: 'friend-number' } %>
      <%= f.input :friend_3, label: false, input_html: { placeholder: "Friend's Cell #" }, wrapper_html: { class: 'friend-number' } %>
      <%= f.input :friend_4, label: false, input_html: { placeholder: "Friend's Cell #" }, wrapper_html: { class: 'friend-number' } %>
      <%= f.input :friend_5, label: false, input_html: { placeholder: "Friend's Cell #" }, wrapper_html: { class: 'friend-number' } %>
      <%= f.input :friend_6, label: false, input_html: { placeholder: "Friend's Cell #" }, wrapper_html: { class: 'friend-number' } %>
      <div style="clear: both"></div>
    </div>

    <%= f.submit 'Submit', class: 'btn primary medium' %>
    <p class="legal"><%= link_to 'Official Rules', @share_a_stat.rules %>. Msg & data rates may apply. Text STOP to opt-out, HELP for help.</p>
  <% end %>
</div>
