<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @share_a_stat.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @share_a_stat.message %>
</p>

<p>
  <strong>Image:</strong>
  <%= @share_a_stat.image %>
</p>

<p>
  <strong>Scholarship:</strong>
  <%= @share_a_stat.scholarship %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @share_a_stat.tip %>
</p>

<p>
  <strong>Mc alpha:</strong>
  <%= @share_a_stat.mc_alpha %>
</p>

<p>
  <strong>Mc beta:</strong>
  <%= @share_a_stat.mc_beta %>
</p>

<p>
  <strong>Redirect:</strong>
  <%= @share_a_stat.redirect %>
</p>

<p>
  <strong>Redirect message:</strong>
  <%= @share_a_stat.redirect_message %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @share_a_stat.campaign_id %>
</p>

<p>
  <strong>Color scheme:</strong>
  <%= @share_a_stat.color_scheme %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @share_a_stat.logo %>
</p>

<p>
  <strong>Logo text:</strong>
  <%= @share_a_stat.logo_text %>
</p>

<p>
  <strong>Shortform image:</strong>
  <%= @share_a_stat.shortform_image %>
</p>

<p>
  <strong>Shortform bucket:</strong>
  <%= @share_a_stat.shortform_bucket %>
</p>

<p>
  <strong>Sponsor image:</strong>
  <%= @share_a_stat.sponsor_image %>
</p>

<p>
  <strong>Published:</strong>
  <%= @share_a_stat.published %>
</p>

<%= render 'share' %>

<%= link_to 'Edit', edit_share_a_stat_path(@share_a_stat) %> |
<%= link_to 'Back', share_a_stats_path %>
